/* blurs everything else except .search-result div */
#root > *:not(header) {
  transition: filter 0.3s ease;
}
#root:has(.search-bar:focus-within) > *:not(header) {
  filter: blur(15px);
}

/* blurs everything else except .account div form */
#root:has(.account-popup.visible) > *:not(header),
#root:has(.account-popup.visible) header > div > div > *:not(div.text-end),
#root:has(.account-popup.visible) div.text-end > *:not(.account-box) {
  filter: blur(15px);
}

.search-results > a:not(:last-child) {
  border-bottom: var(--bs-border-width) solid var(--bs-border-color);
}

.cart-count {
  position: absolute;
  top: -11px;
  left: 20px;
  border-radius: 50%;
  color: black;
  border: 2px solid var(--light-bg);
  width: 24px;
  aspect-ratio: 1 / 1;
  font-size: 0.8rem;
  display: grid;
  place-items: center;
  font-weight: 500;
}

.account-popup {
  transition: all 0.3s ease;
}
.a-link {
  cursor: pointer;
  transition: all 0.4s ease;
}
.a-link:hover {
  background-color: #f8f9fa;
}

.account-popup > div::before {
  content: "";
  height: 10px;
  aspect-ratio: 1 / 1;
  background: white;
  border: 1px solid var(--bs-border-color);
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: -5px;
  right: 14px;
  transform: rotate(-45deg);
}

/*
-->

//HOME page styles

<--
*/

.main-logo-txt {
  color: #fdf3e7;
  font-family: "Agbalumo", serif;
  font-size: clamp(4.2rem, 7vw, 5.5rem);
}

.home-header {
  background: url("../src/assets/images/bg.webp");
  color: white;
  background-size: contain;
  background-position: 50%;
}

/*
-->

//ABOUT page styles

<--
*/

.avatar {
  width: 100%;
  max-width: 170px;
  height: auto;
  background-color: rgb(43, 58, 124);
  color: white;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: min(4rem, 7vw);
  font-weight: 600;
  margin-inline: auto;
}

.avatar + h4 {
  font-size: min(1.5rem, 5vw);
}

/*
-->

//Shop page styles

<--
*/

.color-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: currentColor;
  border-radius: 50%;
  margin-inline-start: 3px;
}

/* PRICE RANGE STYLES */
.slider-container {
  height: 6px;
  position: relative;
  background: #e4e4e4;
  border-radius: 5px;
}

.slider-container .price-slider {
  height: 100%;
  left: 0%; /*setting width of green background of price range using left and right percentage*/
  right: 0%;
  position: absolute;
  border-radius: 5px;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  background: none;
  top: -6px;
  pointer-events: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

/* Styles for the range thumb in WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 70%;
  background: #555;
  border: 2px solid white;
  pointer-events: auto;
  -webkit-appearance: none;
}

.filter-sidebar {
  top: 130px;
}

@media screen and (max-width: 768px) {
  .filter-sidebar.open {
    position: fixed !important;
    width: 100vw;
    height: 100vh;
    height: 100svh;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 3;
    overflow-y: auto;
    border-radius: 0 !important;
    border: none !important;
  }

  html:has(.filter-sidebar.open) {
    overflow: hidden;
  }
}

/*
-->

//Product details page styles

<--
*/
.product-image-wrap {
  background: #f8f9fa; /* neutral fill (can be brand color) */
  border-radius: 0.75rem;
}

.product-image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* keep square intact */
}

.arrow-indicator {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: rgba(var(--light-bg), 0.8);
  border-radius: 50%;
  aspect-ratio: 1/1;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.315);
  transition: all 0.3s ease;
}

.arrow-indicator:hover {
  transform: translateY(-52.5%) scale(1.1); /*translate again becasue if we use transform for scale the translate value returns to default becasue its the same property*/
  background-color: white;
}

/*
-->

//Sign up and login page styles

<--
*/

@media screen and (max-width: 576px) {
  div.signup-form,
  div.login-form {
    box-shadow: none !important;
    border: 1px solid var(--bs-border-color);
  }
}

/*
-->

//Cart page styles

<--
*/

@media screen and (max-width: 576px) {
  div.cart-summary {
    position: static !important;
  }
}

/*
-->

//Profile styles

<--
*/

.edit-btn {
  position: absolute;
  aspect-ratio: 1 / 1;
  height: 35px;
  width: auto;
  top: 0px;
  right: 80px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: var(--bs-border-color) !important;
}

/*
-->

//Dashboard styles

<--
*/

.dashboard-grid {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "a b"
    "c b";
}
