.search-results > a:not(:last-child) {
  border-bottom: var(--bs-border-width) solid var(--bs-border-color);
}

.search-btn {
  position: relative;
}
.search-btn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3.5px;
  border-radius: 17px;
  rotate: 0deg;
  top: 16px;
  left: -5px;
  background-color: black;
  transition: all 0.15s ease;
}
.search-btn.search-close::after {
  width: 45px;
}

.search-results > a > div:first-child {
  transition: all 0.3s ease;
}

.search-results > a:hover div:first-child {
  width: 80px !important;
}

.cart-count {
  position: absolute;
  top: -11px;
  left: 20px;
  border-radius: 50%;
  color: black;
  border: 2px solid var(--light-bg);
  width: 24px;
  aspect-ratio: 1 / 1;
  font-size: 0.8rem;
  display: grid;
  place-items: center;
  font-weight: 500;
}

.account-popup {
  transition: all 0.3s ease;
  z-index: 1050;
}
.a-link {
  cursor: pointer;
  transition: all 0.4s ease;
}
.a-link:hover {
  background-color: #f8f9fa;
}

.account-popup > div::before {
  content: "";
  height: 10px;
  aspect-ratio: 1 / 1;
  background: white;
  border: 1px solid var(--bs-border-color);
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: -5px;
  right: 14px;
  transform: rotate(-45deg);
}

@media screen and (max-width: 450px) {
  .account-popup {
    width: 330px !important;
  }
}

.pagination .page-link {
  z-index: 1 !important;
}
.pagination .page-item.active .page-link {
  z-index: 1 !important;
}

/*
-->

//HOME page styles

<--
*/

.main-logo-txt {
  color: #fdf3e7;
  font-family: "Agbalumo", serif;
  font-size: clamp(4.2rem, 7vw, 5.5rem);
}

.home-header {
  color: white;
}
.textured-bg {
  background:
    repeating-linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.03) 0px,
      rgba(0, 0, 0, 0.03) 1px,
      transparent 1px,
      transparent 2px
    ),
    repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.03) 0px,
      rgba(0, 0, 0, 0.03) 1px,
      transparent 1px,
      transparent 2px
    ),
    radial-gradient(
      ellipse at 20% 30%,
      rgba(255, 255, 255, 0.12),
      transparent 70%
    ),
    radial-gradient(ellipse at 80% 70%, rgba(0, 0, 0, 0.08), transparent 60%),
    linear-gradient(135deg, #b11226, #7d0c1a) !important;

  position: relative;
}
.textured-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 40px,
    rgba(255, 255, 255, 0.02) 40px,
    rgba(255, 255, 255, 0.02) 80px
  );
  pointer-events: none;
}

.featured-products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  gap: 24px;
}

@media screen and (max-width: 700px) {
  .home-cover > div:nth-child(2) {
    display: none;
  }
  div.featured-products-grid {
    grid-template-columns: 1fr 1fr !important;
    gap: 5px !important;
  }
  .product-card-info > div:first-child {
    display: block !important;
    text-align: center !important;
    font-size: 0.9rem !important;
  }
  .product-card-info > div:first-child > div:first-child > h5 {
    font-size: 0.9rem !important;
  }
  .product-card-info > div:first-child > div:last-child {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 6px !important;
    font-size: 0.9rem !important;
    gap: 3px !important;
  }
}

/*
-->

// Shop page styles

<--
*/

.shop-page-container {
  display: grid;
  grid-template-columns: 290px minmax(0, 1fr);
  gap: 24px;
}

.shop-products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  width: 100%;
  gap: 24px;
}

.color-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: currentColor;
  border-radius: 50%;
  margin-inline-start: 3px;
}

/* PRICE RANGE STYLES */
.slider-container {
  height: 6px;
  position: relative;
  background: #e4e4e4;
  border-radius: 5px;
}

.slider-container .price-slider {
  height: 100%;
  left: 0%; /*setting width of green background of price range using left and right percentage*/
  right: 0%;
  position: absolute;
  border-radius: 5px;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  background: none;
  top: -6px;
  pointer-events: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

/* Styles for the range thumb in WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 70%;
  background: #555;
  border: 2px solid white;
  pointer-events: auto;
  -webkit-appearance: none;
}

.filter-sidebar {
  top: 130px;
}

@media screen and (max-width: 900px) {
  div.shop-page-container {
    display: block !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }

  .filter-sidebar {
    display: none !important;
  }

  button.filter-close-btn {
    display: block !important;
  }

  button.mobile-filter-btn {
    display: flex !important;
  }

  .filter-sidebar.open {
    display: block !important;
    position: fixed !important;
    width: 100vw;
    height: 100vh;
    height: 100svh;
    top: 83px;
    left: 0;
    margin: 0;
    z-index: 3;
    overflow-y: auto;
    border-radius: 0 !important;
    border: none !important;
  }

  html:has(.filter-sidebar.open) {
    overflow: hidden;
  }
}

@media screen and (max-width: 700px) {
  .shop-products-grid {
    grid-template-columns: 1fr 1fr !important;
    gap: 5px !important;
  }
}

/*
-->

//Product details page styles

<--
*/
.product-image-wrap {
  background: #f8f9fa; /* neutral fill (can be brand color) */
  border-radius: 0.75rem;
}

.product-image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* keep square intact */
}

.arrow-indicator {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: rgba(var(--light-bg), 0.8);
  border-radius: 50%;
  aspect-ratio: 1/1;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.315);
  transition: all 0.3s ease;
}

.arrow-indicator:hover {
  transform: translateY(-52.5%) scale(1.1); /*translate again becasue if we use transform for scale the translate value returns to default becasue its the same property*/
  background-color: white;
}

/*
-->

//Sign up and login page styles

<--
*/

@media screen and (max-width: 576px) {
  div.signup-form,
  div.login-form {
    box-shadow: none !important;
    border: 1px solid var(--bs-border-color);
  }
}

/*
-->

//Cart page styles

<--
*/

@media screen and (max-width: 576px) {
  div.cart-summary {
    position: static !important;
  }
}
@media screen and (max-width: 900px) and (min-width: 768px),
  (max-width: 576px) {
  div.cart-actions-btn-wrapper {
    margin-left: auto;
    max-width: 100% !important;
    gap: 10px !important;
  }
  div.cart-actions-btn-wrapper > div {
    margin-bottom: 0 !important;
  }
  div.cart-product-img {
    min-width: 65px !important;
    width: 65px !important;
    height: 65px !important;
  }
  div.cart-product-info b,
  div.cart-product-info p {
    font-size: 15px !important;
  }
  div.cart-product-info div {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}

@media screen and (max-width: 440px) {
  div.cart-item {
    flex-wrap: wrap;
  }
  div.cart-product-info {
    max-width: calc(100% - 100px);
  }
  div.cart-actions-btn-wrapper {
    flex-direction: row !important;
  }
}

/*
-->

//Profile styles

<--
*/

.edit-btn {
  position: absolute;
  aspect-ratio: 1 / 1;
  height: 35px;
  width: auto;
  top: 0px;
  right: 80px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: var(--bs-border-color) !important;
}

@media screen and (max-width: 830px) and (min-width: 768px),
  (max-width: 480px) {
  .p-card > span {
    display: none;
  }
}

/*
-->

// orders page styles

<--
*/

@media screen and (max-width: 520px) {
  .img_ol {
    width: 60px !important;
    flex-shrink: 0 !important;
  }
  .ol_product > h6 {
    font-size: min(1em, 3.5vw);
  }
  .ol_product > p {
    font-size: min(0.8em, 2.8vw);
  }
  .ol_product + .text-end {
    font-size: min(1em, 3.3vw);
  }
}
