/* blurs everything else except .search-result div */
#root> *:not(header) {
    transition: filter 0.3s ease;      
}
#root:has(.search-bar:focus-within) > *:not(header) {       
    filter: blur(15px);
}

/* blurs everything else except .account div form */
#root:has(.login-form.visible) > *:not(header),
#root:has(.login-form.visible) header>div>div>*:not(div.text-end),
#root:has(.login-form.visible) div.text-end > *:not(.account.login) {       
    filter: blur(15px);
}

.search-results>a:not(:last-child) {
    border-bottom : var(--bs-border-width) solid var(--bs-border-color)
}

/* button.cart:has(.cart-count[data-count="0"])::after {
    content: "Empty";
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    position: absolute;
    white-space: nowrap;
    background: white;
    top: 50px;
    right: 0;
    box-shadow: var(--bs-box-shadow);
    border-radius: 10px;
    padding: 10px 20px;
} */

.cart-count {
    position: absolute;
    top: -11px;
    left: 20px;
    border-radius: 50%;
    color: black;
    border: 2px solid var(--light-bg);
    width: 24px;
    aspect-ratio: 1 / 1;
    font-size: 0.8rem;
    display: grid;
    place-items: center;
    font-weight: 500;
}



/*
-->

//HOME page styles

<--
*/

.main-logo-txt {
    background: linear-gradient(90deg, rgba(255, 1, 1, 1) 0%, rgba(157, 23, 23, 1) 35%, rgba(60, 9, 3, 1) 100%);
    background-clip: text;
    color: transparent;
    background-size: 400% 400%;
    animation: gradient-bg 3s ease infinite;
}
@keyframes gradient-bg {
    0%{background-position-x: 0%;}
    50%{background-position-x: 100%;}
    100%{background-position-x: 0%;}
}






@media screen and (max-width: 768px) {
    .img_middle {
        width: 100% !important;
    }
}


