@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --bs-body-font-family: "Inter", sans-serif !important; /*Bootstrap default font override*/
  --light-bg: #fdfdfd !important;
}

body,
.light-bg {
  background-color: var(--light-bg) !important;
}

a {
  text-decoration: none !important;
}

hr {
  border-top: 12px dotted !important;
  width: 50px !important;
  margin-inline: auto !important;
}

hr.bold {
  all: unset !important;
  display: block !important;
  border-top: 1px solid rgba(0, 0, 0, 0.452) !important;
}

hr.hr {
  all: unset !important;
  border-top: var(--bs-border-width) var(--bs-border-style)
    var(--bs-border-color) !important;
  display: block !important;
}

.unselectable {
  user-select: none; /* For most modern browsers */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}
