@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --bs-body-font-family:
    "Inter", sans-serif !important; /*Bootstrap default font override*/
  --light-bg: 253, 253, 253;
  --safe-height: 100vh; /* default fallback for height */
}
@supports (height: 100svh) {
  :root {
    --safe-height: 100svh; /* use svh in supported browser if not supported then default property will be applied which is vh */
  }
}

html {
  scroll-behavior: auto !important;
}

header,
.navbar {
  z-index: 2000 !important;
}

body,
.light-bg {
  background-color: rgb(var(--light-bg)) !important;
}

a {
  text-decoration: none !important;
}

hr {
  border-top: 12px dotted !important;
  width: 50px !important;
  margin-inline: auto !important;
}

hr.bold {
  all: unset !important;
  display: block !important;
  border-top: 1px solid rgba(0, 0, 0, 0.452) !important;
}

hr.hr {
  all: unset !important;
  border-top: var(--bs-border-width) var(--bs-border-style)
    var(--bs-border-color) !important;
  display: block !important;
}

.unselectable {
  user-select: none; /* For most modern browsers */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}

.cursor-pointer {
  cursor: pointer;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}

.break-word {
  hyphens: auto;
  word-break: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.Toastify__toast {
  padding-right: 22px !important;
}

.hidden {
  display: none;
}
