@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bs-body-font-family: "Poppins", serif !important; /*Bootstrap default font override*/
    --light-bg : #fdfdfd !important;
}

body,.light-bg {
    background-color: var(--light-bg) !important;
}

a {
    text-decoration: none !important;
}

hr {
    border-top: 12px dotted !important;
    width: 50px !important;
    margin-inline: auto !important;
}

hr.hr {
    all: unset !important;
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    display: block !important;
}

.unselectable {
    user-select: none; /* For most modern browsers */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}